@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");


::-webkit-scrollbar {
  width: 0px;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
  margin: 5px !important;
}

h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h4 {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

body {
  margin: 0;
  padding: 0 !important;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}